.page {
    display: flex;
    flex-direction: column;
    grid-template-rows: 1fr 50px;
    align-items: center;
    justify-items: center;
    min-height: 100vh;
    font-family: var(--font-geist-sans);
}

.title {
    font-size: min(32px, 4.5vw);
    font-weight: 800;
}

.main {
  flex: 1;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: min(32px, 3vw) min(50px, 5vw);
    width: 800px;
    max-width: 90vw;
    gap: 32px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    padding: 0 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    color: var(--foreground);
    background-color: #585858;
    transition: background-color 0.2s, border-color 0.2s, color 0.2s;
}

.button:hover {
    text-decoration: none;
    background-color: #919191;
}

.textarea {
    background-color: #fefefe;
    width: 100%;
    min-height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.textarea:focus {
    border-color: #0070f3;
    outline: none;
}

.footer {
    display: flex;
    padding: 50px 0;
    color: #ccc;
}

.footer a {
    color: #ccc;
    padding: 1px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footerText {
    display: flex;
    align-items: center;
    gap: 5px;
}
